body {
  font: 14px/1.5 "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/** global containers **/
.container {
  width: 88%;
  margin: auto;
  overflow: hidden;
}
/** header */
header {
  min-height: 60px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 30px;
  border-bottom: #dc143c 1px solid;
}
header a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header nav {
  float: right;
  margin-top: 10px;
}
header #brand {
  float: left;
}
header #brand h1 {
  margin: 0;
}
header .highlight,
header .current a {
  color: #dc143c;
  font-weight: bold;
}
header a:hover {
  color: #dc143c;
}

/** showcase */
#showcase {
  min-height: 400px;
  background: url("../images/bgt.jpg") no-repeat 0;
  background-size: 100%;
  color: #ffffff;
}
#showcase h1 {
  font-size: 40px;
}
#showcase p {
  font-size: 18px;
  line-height: 2;
}

/* quick search */

#quick-search .container {
  border: #334433 1px solid;
  min-height: 200px;
}
